@page
@using Cardealer.Models;
@model CarDealerWeb.Pages.Buy_carModel
@{
}

<div class="OuterBox">
    <div>
        <div class="BuyListOfCars">

            <div id="text2">
                @foreach (var car in Model.Cars)
                {
                    <div>
                        <div>
                            <label class="Label1">Id: @car.CarID</label>
                        </div>
                        <div class="BrandModelBox">
                            <label class="Label2">@car.Brand @car.Model</label>
                        </div>
                        <div>
                            <label class="Label3">@(car.Price)DKK</label>
                        </div>
                    </div>
                }
            </div>
            <form class="BuyCarForm" method="post">
                <label>Enter CarID</label>
                <input asp-for="CarID" placeholder="CarID:" />
                <button type="submit">
                    Buy
                </button>
            </form>
        </div>
    </div>
</div>

<style>
    .OuterBox {
        display: flex;
        justify-content: center;
        height: 800px;
        width: 100%;
    }

    .BuyCarForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    #text2 {
        background-color: ghostwhite;
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        overflow-y: auto;
        gap:5px;
    }

        #text2 > div {
            display: flex;
            background-color: ghostwhite;
            padding: 3px 6px;
            flex-direction: row;
            /* justify-content: space-between;*/
            gap: 32px;
            border: 1px solid black;
            border-radius: 3px;
            margin: 2px;
        }
</style>