
@page
@using Cardealer.Models;
@model CarDealerWeb.Pages.XButtons.Sign_upModel
@{
}

<div class="OuterSignUpBox">
    <div class="SignUpBox">
        <h5 style="text-align:center;">Account creation</h5>
        <form method="post">
            <label for="uname"><b>Username</b></label>
            <input asp-for="@Model.Username" placeholder="Enter Username" required />

            <label for="psw"><b>Password</b></label>
            <input asp-for="Password" type="password" placeholder="Enter Password" required />

            <label for="psw"><b>Firstname</b></label>
            <input asp-for="Firstname" placeholder="Enter Firstname" required />

            <label for="psw"><b>Lastname</b></label>
            <input asp-for="Lastname" placeholder="Enter Lastname" required />

            <label for="psw"><b>Quote</b></label>
            <input asp-for="@Model.Quote" placeholder="Enter a quote" required />

            @*<select asp-for="@Model.Person" asp-items="Html.GetEnumSelectList<PersonType>()"></select>*@

            <button type="submit" class="SignUpConfirmBtn">Confirm</button>
        </form>
    </div>
</div>


<style>
    .OuterSignUpBox{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width: 1296px;
        height: 600px;
    }

    .SignUpBox >form{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
</style>