@page
@model CarDealerWeb.Pages.PeopleModel
@using Cardealer.Models;

@{

<div class="OuterBoxA">
    <h1>People</h1>
    <div class="Box2People">
            <div>
                <h3>Dealers</h3>
            </div>
            @foreach (Person dealer in Model.Person)
            {
                <div>
                    <label >@dealer.firstname @dealer.lastname</label>
                </div>
            }
        </div>
</div>
}

<style>
    .OuterBoxA{
        display:flex;
        padding: 12px 15px;
        margin: 50px;
        background-color: lightyellow;
        height: 600px;
        min-width: 380px;
        border-radius: 5px;
        align-items: center;
        justify-content: start;
        flex-direction:column;
        text-transform:capitalize;
    }

    .Box2People{
        display:flex;
        border: 1px solid;
        flex-direction:column;
        align-items: center;
        height: 300px;
        width: 240px;
        margin: 50px;
        background-color: lightgoldenrodyellow;
    }



</style>